# Comprehend Organization NER on messages

In [120]:
#!pip install twitterscraper

## Simple example of Comprehend entity extraction

In [61]:
import boto3
import json

comprehend = boto3.client(service_name='comprehend', region_name='us-west-2')
text = "Netflix is dowing better than DBS"

print('Calling DetectEntities')
print(json.dumps(comprehend.detect_entities(Text=text, LanguageCode='en'), sort_keys=True, indent=4))
print('End of DetectEntities\n')

Calling DetectEntities
{
    "Entities": [
        {
            "BeginOffset": 0,
            "EndOffset": 7,
            "Score": 0.9994915723800659,
            "Text": "Netflix",
            "Type": "ORGANIZATION"
        },
        {
            "BeginOffset": 30,
            "EndOffset": 33,
            "Score": 0.5787805318832397,
            "Text": "DBS",
            "Type": "ORGANIZATION"
        }
    ],
    "ResponseMetadata": {
        "HTTPHeaders": {
            "connection": "keep-alive",
            "content-length": "208",
            "content-type": "application/x-amz-json-1.1",
            "date": "Sun, 16 Sep 2018 13:18:01 GMT",
            "x-amzn-requestid": "f01a1b91-b9b2-11e8-97de-3b872c716a91"
        },
        "HTTPStatusCode": 200,
        "RequestId": "f01a1b91-b9b2-11e8-97de-3b872c716a91",
        "RetryAttempts": 0
    }
}
End of DetectEntities

## Query twitter messages to run analysis (similar to OTP message analysis)

In [40]:
from twitterscraper import query_tweets


csv = open('output.txt', "w") 
#"w" indicates that you're writing strings to the file

columnTitleRow = "id, tweet\n"
csv.write(columnTitleRow)
i=0
for tweet in query_tweets("Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS", 40000):
    uid = str(i)
    text = tweet.text
    row = uid+','+'"'+tweet.text.replace(',','').replace('\n',' ')+'"' + "\n"
    i=i+1
    csv.write(row)

INFO: queries: ['Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2006-03-21 until:2006-11-04', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2006-11-04 until:2007-06-20', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2007-06-20 until:2008-02-03', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2008-02-03 until:2008-09-18', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2008-09-18 until:2009-05-04', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2009-05-04 until:2009-12-18', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2009-12-18 until:2010-08-03', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2010-08-03 until:2011-03-19', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2011-03-19 until:2011-11-02', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2011-11-02 until:2012-06-18', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2012-06-18 until:2013-02-01', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2013-02-01 until:2013-09-17', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2013-09-17 until:2014-05-03', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2014-05-03 until:2014-12-17', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2014-12-17 until:2015-08-02', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2015-08-02 until:2016-03-17', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2016-03-17 until:2016-10-31', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2016-10-31 until:2017-06-16', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2017-06-16 until:2018-01-30', 'Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2018-01-30 until:2018-09-16']
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2006-03-21 until:2006-11-04
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2007-06-20 until:2008-02-03
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2008-02-03 until:2008-09-18
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2008-09-18 until:2009-05-04
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2009-05-04 until:2009-12-18
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2006-11-04 until:2007-06-20
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2014-05-03 until:2014-12-17
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2014-12-17 until:2015-08-02
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2012-06-18 until:2013-02-01
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2013-02-01 until:2013-09-17
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2010-08-03 until:2011-03-19
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2015-08-02 until:2016-03-17
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2016-03-17 until:2016-10-31
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2011-03-19 until:2011-11-02
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2016-10-31 until:2017-06-16
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2013-09-17 until:2014-05-03
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2011-11-02 until:2012-06-18
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2009-12-18 until:2010-08-03
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2017-06-16 until:2018-01-30
INFO: Querying Netflix OR Facebook OR Amazon OR HSBC OR Lazada OR Bein OR DBS since:2018-01-30 until:2018-09-16
INFO: Got 30 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2006-03-21%20until%3A2006-11-04.
INFO: Got 30 tweets (30 new).
INFO: Got 2016 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2006-11-04%20until%3A2007-06-20.
INFO: Got 2046 tweets (2016 new).
INFO: Got 2020 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2007-06-20%20until%3A2008-02-03.
INFO: Got 4066 tweets (2020 new).
INFO: Got 2020 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2009-12-18%20until%3A2010-08-03.
INFO: Got 6086 tweets (2020 new).
INFO: Got 2020 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2008-02-03%20until%3A2008-09-18.
INFO: Got 8106 tweets (2020 new).
INFO: Got 2020 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2008-09-18%20until%3A2009-05-04.
INFO: Got 10126 tweets (2020 new).
INFO: Got 2020 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2009-05-04%20until%3A2009-12-18.
INFO: Got 12146 tweets (2020 new).
INFO: Got 2020 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2010-08-03%20until%3A2011-03-19.
INFO: Got 14166 tweets (2020 new).
INFO: Got 2020 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2012-06-18%20until%3A2013-02-01.
INFO: Got 16186 tweets (2020 new).
INFO: Got 2020 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2014-05-03%20until%3A2014-12-17.
INFO: Got 2010 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2014-12-17%20until%3A2015-08-02.
INFO: Got 18206 tweets (2020 new).
INFO: Got 20216 tweets (2010 new).
INFO: Got 2020 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2013-09-17%20until%3A2014-05-03.
INFO: Got 22236 tweets (2020 new).
INFO: Got 2020 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2011-11-02%20until%3A2012-06-18.
INFO: Got 24256 tweets (2020 new).
INFO: Got 2014 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2013-02-01%20until%3A2013-09-17.
INFO: Got 2020 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2011-03-19%20until%3A2011-11-02.
INFO: Got 26270 tweets (2014 new).
INFO: Got 28290 tweets (2020 new).
INFO: Got 2019 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2015-08-02%20until%3A2016-03-17.
INFO: Got 30309 tweets (2019 new).
INFO: Got 2020 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2018-01-30%20until%3A2018-09-16.
INFO: Got 32329 tweets (2020 new).
INFO: Got 2007 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2016-03-17%20until%3A2016-10-31.
INFO: Got 34336 tweets (2007 new).
INFO: Got 2020 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2017-06-16%20until%3A2018-01-30.
INFO: Got 36356 tweets (2020 new).
INFO: Got 2019 tweets for Netflix%20OR%20Facebook%20OR%20Amazon%20OR%20HSBC%20OR%20Lazada%20OR%20Bein%20OR%20DBS%20since%3A2016-10-31%20until%3A2017-06-16.
INFO: Got 38375 tweets (2019 new).

## Output messages to txt

In [41]:
import pandas as pd
df=pd.read_csv('output.txt')

In [42]:
df.head()

  id                                              tweet
0  0   Amazon Prime you had me at the knock on my door.
1  1  Amazon just recommended Paradigms of Artificia...
2  2     I am playing with texting twitter and facebook
3  3  Now I'm wondering if these updates can be comb...
4  4  Wondering if I should contact a co-worker I ju...

In [53]:
df.iloc[:,1].to_csv('tweets.txt')

## Run batch Comprehend api calls

In [54]:
%%time
import sagemaker
from sagemaker import get_execution_role

role=get_execution_role()
print(role)
sess=sagemaker.Session()

arn:aws:iam::349934754982:role/service-role/AmazonSageMaker-ExecutionRole-20180901T102635
CPU times: user 368 ms, sys: 0 ns, total: 368 ms
Wall time: 813 ms

In [70]:
output_bucket='sgtelcodemo'
s3 = boto3.resource('s3')
txt = open('tweets.txt', 'rb')
s3.Bucket(output_bucket).put_object(Key='twitterdata/input/tweets.txt', Body=txt)

s3.Object(bucket_name='sgtelcodemo', key='twitterdata/input/tweets.txt')

In [71]:
import boto3
import json
comprehend = boto3.client(service_name='comprehend', region_name='us-west-2')

In [72]:

response = comprehend.start_entities_detection_job(
    InputDataConfig={
        'S3Uri': 's3://sgtelcodemo/twitterdata/input/tweets.txt',
        'InputFormat':'ONE_DOC_PER_LINE'
    },
    OutputDataConfig={
        'S3Uri': 's3://sgtelcodemo/twitterdata/output/results.txt'
    },
    DataAccessRoleArn=role,
    JobName='tweet-analysis',
    LanguageCode='en'
)

In [73]:
!aws s3 cp s3://sgtelcodemo/twitterdata/output/results.txt/349934754982-NER-ed6fbfa663a094cece2d816f186336ad/output/output.tar.gz .

download: s3://sgtelcodemo/twitterdata/output/results.txt/349934754982-NER-ed6fbfa663a094cece2d816f186336ad/output/output.tar.gz to ./output.tar.gz

In [74]:
!tar -xvf output.tar.gz

output

In [79]:
!mv output output.json

In [91]:
import json
from pprint import pprint

responses=[]
with open('output.json') as f:
    for i in f:
        responses.append(json.loads(i))

In [105]:
len(df)

38320

In [113]:
responses[2]['Entities'][1]['Text']

'twitter'

In [106]:
len(responses)

38394

In [101]:
responses[1]['Entities'][1]['Text']

'Amazon'

In [116]:
responses[39]

{'Entities': [{'BeginOffset': 0,
   'EndOffset': 2,
   'Score': 0.8730478882789612,
   'Text': '39',
   'Type': 'QUANTITY'},
  {'BeginOffset': 7,
   'EndOffset': 13,
   'Score': 0.9843676686286926,
   'Text': 'Amazon',
   'Type': 'ORGANIZATION'},
  {'BeginOffset': 14,
   'EndOffset': 19,
   'Score': 0.9237908124923706,
   'Text': 'Prime',
   'Type': 'COMMERCIAL_ITEM'},
  {'BeginOffset': 33,
   'EndOffset': 58,
   'Score': 0.9991692304611206,
   'Text': 'http://tinyurl.com/yqjofl',
   'Type': 'OTHER'}],
 'File': 'tweets.txt',
 'Line': 39}

In [124]:
df['Org']='Na'
df['Score']='Na'
for i in range(len(df)):
    try:
        df['Org'][i]=responses[i]['Entities'][1]['Text']
        df['Score'][i]=responses[i]['Entities'][1]['Score']
    except Exception:
        pass

In [126]:
df.head(30)

    id                                              tweet        Org     Score
0    0   Amazon Prime you had me at the knock on my door.     Amazon  0.996473
1    1  Amazon just recommended Paradigms of Artificia...     Amazon  0.998203
2    2     I am playing with texting twitter and facebook    twitter   0.99429
3    3  Now I'm wondering if these updates can be comb...   facebook  0.975061
4    4  Wondering if I should contact a co-worker I ju...   Facebook   0.99893
5    5  sleepy from furniture moving. listening to KCR...       KCRW  0.651127
6    6  very hot inside today. uploading photos to zoo...      today  0.957422
7    7  been online window shopping at amazon all day....     amazon  0.995884
8    8                                   Mailing Netflix.    Netflix  0.986677
9    9  LMAO: some guy on facebook's addicted to frien...   facebook  0.997715
10  10                         comparing netflix accounts    netflix   0.99029
11  11  Opening an envelope from Amazon: Maggie Mason'...     Amazon  0.993886
12  12          I am now a true wanker - joined Facebook.   Facebook  0.996276
13  13  another headache whats up with that. becoming ...   facebook  0.964093
14  14  Trying to make my Powerbook believe it has a D...  Powerbook   0.49199
15  15  Trying to figure out what to buy from Amazon. ...     Amazon  0.998144
16  16  Blogger mobile now on the beta. Could get rid ...       Razr  0.700843
17  17                                  I love facebook.    facebook  0.997183
18  18  trying to order the new" R.E.M. CD from amazon...  R.E.M. CD  0.635777
19  19        i feel like stalking someone on facebook...   facebook  0.996633
20  20  thinking the new Twttr was hit by the Facebook...      Twttr  0.484646
21  21  Posting on my blog about the new Facebook feat...   Facebook  0.993094
22  22  If the current Facebook user backlash tells us...   Facebook  0.993196
23  23                             Buying books on Amazon     Amazon  0.998735
24  24  just got free Amazon Prime 2-day shipping for ...     Amazon  0.993935
25  25                 Deadwood.   Netflix it.  Trust me.   Deadwood  0.433777
26  26  telene's icon is quite the amazon. goodnight i...     amazon  0.952919
27  27                     amazon strippers at 3 o'clock.     amazon  0.986733
28  28           i fell into facebook and i can't get out   facebook  0.998327
29  29                            stonestown: bein a girl         Na        Na